*{
    margin:0;
    padding:0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a204e;
}

#image1{
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 10px 10px rgb(75, 68, 68);
    background-image: linear-gradient(#fff 50%, #1976d3 50%);
    background-size: 100% 200%;
    transition: background-position 0.5s, color 0.5s;
    background-position: 0 5%;
    
}
.icons{
    color: #1976d3;
    transition: color white 0.5s;
}
#image1:hover{
    background-position: 0 100%;
    color: white;
}